<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Авторизация</title>
{#    <link rel="stylesheet" type="text/css" href="../../css/main.css">#}
    <link rel="stylesheet" type="text/css" href="../../css/auth.css">
{#    <style>#}
{#        .content-container {#}
{#            display: flex;#}
{#        }#}
{#    </style>#}
</head>
<body>
    <div class="content-container">
        <div class="menu-row">
            <div class="col-2"></div>
            <div class="menu">menu</div>
            <div class="col-2"></div>
        </div>
        <div class="content-row">
            <div class="col-2"></div>
            <div class="col-10 content">content</div>
            <div class="col-2"></div>
        </div>
        <div class="footer-row">
            <div class="col-2"></div>
            <div class="col-10 footer">footer</div>
            <div class="col-2"></div>
        </div>
    </div>
</body>
</html>
